@{
    siteDetails = @{
        siteName     = '1234'
        description  = 'First demo site'
        location     = 'Under the stairs with Harry'
    }
    templates = @(
        @{
            name   = 'PizzaPizza'
            path   = 'C:\Users\darren\Documents\WindowsPowerShell\Scripts\testtemplate.txt'
        },
        @{
            name   = 'WS-C2960G-24TC-L-Access'
            path   = 'templates\2960Template.template'
        }
    )
    iosFiles = @(
        @{
            deviceType = 'ISR4331'
            version    = 'XE16.2(33)'
            path       = 'c:\whatever\whatever.img'
        }
    )
    devices = @(
        @{
            hostname     = 'r1234001'
            domainName   = 'nm.local'
            deviceType   = 'ISR4331'
            iosVersion   = 'XE16.2(33)'
            ipAddress    = '10.100.6.1/24'
            description  = 'Edge router'
        },
        @{
            hostname     = 'l1234011a'
            domainName   = 'nm.local'
            deviceType   = 'C2960-24PS-TT'
            ipAddress    = '10.100.16.11/24'
            template     = @{
                name        = 'PizzaPizza'
                description = 'Current configuration' 
                parameters  = @(
                    @{ name='defaultGateway';     value='10.100.16.1' }
                    @{ name='enableSecret';       value='catAteMyHomework' }
                    @{ name='snmpContact';        value='Rocket Raccoon' }
                    @{ name='snmpLocation';       value='12345' }
                    @{ name='deviceDescription';  value = 'My name is Jonas' }
                    @{ name='deviceRole';         value = 'Access' }
                )
            }
        },
        @{
            hostname     = 'l1234011b'
            domainName   = 'nm.local'
            deviceType   = 'C2960-24PS-TT'
            ipAddress    = '10.100.16.12/24'
            template     = @{
                name        = 'PizzaPizza'
                description = 'Current configuration' 
                parameters  = @(
                    @{ name='defaultGateway';     value='10.100.16.1' }
                    @{ name='enableSecret';       value='catAteMyHomework' }
                    @{ name='snmpContact';        value='Rocket Raccoon' }
                    @{ name='snmpLocation';       value='1234' }
                    @{ name='deviceDescription';  value = 'My name is Jonas' }
                    @{ name='deviceRole';         value = 'Access' }
                )
            }
        },
        @{
            hostname     = 'l1234011c'
            domainName   = 'nm.local'
            deviceType   = 'C2960-24PS-TT'
            ipAddress    = '10.100.16.13/24'
            template     = @{
                name        = 'WS-C2960G-24TC-L-Access'
                description = 'Current configuration' 
                parameters  = @(
                    @{ name='defaultGateway';     value='10.100.16.1' }
                    @{ name='enableSecret';       value='catAteMyHomework' }
                    @{ name='snmpContact';        value='Rocket Raccoon' }
                    @{ name='snmpLocation';       value='1234' }
                    @{ name='deviceDescription';  value = 'My name is Jonas' }
                    @{ name='deviceRole';         value = 'Access' }
                )
            }
        }
    )
    connections = @(
        @{
            domainName         = 'nm.local'
            networkDevice      = 'l1234011a'
            interface          = 'GigabitEthernet0/2'
            uplinkToDevice     = 'r1234001'
            uplinkToInterface  = 'GigabitEthernet0/0'
        },
        @{
            domainName         = 'nm.local'
            networkDevice      = 'l1234011b'
            interface          = 'GigabitEthernet0/2'
            uplinkToDevice     = 'l1234011a'
            uplinkToInterface  = 'GigabitEthernet0/1'
        }
    )
}
