<h1>Network Device Types</h1>

<p *ngIf="!networkDeviceTypes"><em>Loading...</em></p>

<div class="panel panel-primary" *ngFor="let networkDeviceType of networkDeviceTypes">
    <div class="panel-heading">{{networkDeviceType.name}}</div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <label class="control-label col-sm-2" for="manufacturer">Manufacturer</label>
                <div class="col-sm-10 form-control" id="manufacturer">
                    {{networkDeviceType.manufacturer}}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <label class="control-label col-sm-2" for="productId">Product ID</label>
                <div class="col-sm-10 form-control" id="productId">
                    {{networkDeviceType.productId}}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <label class="control-label col-sm-2" for="guid">GUID</label>
                <div class="col-sm-10 form-control" id="guid">
                    {{networkDeviceType.id}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <div class="panel panel-primary">
                    <div class="panel-heading">Interfaces</div>

                    <div class="panel-body" *ngIf="networkDeviceType.interfaces && networkDeviceType.interfaces.length > 0">
                        <div class="row">
                            <div class="col-sm-3"><strong>Name</strong></div>
                            <div class="col-sm-2"><strong>SNMP Index</strong></div>
                            <div class="col-sm-4"><strong>GUID</strong></div>
                        </div>
                        <div class="row" *ngFor="let networkInterface of networkDeviceType.interfaces">
                            <div class="col-sm-3">{{networkInterface.name}}</div>
                            <div class="col-sm-2">{{networkInterface.interfaceIndex}}</div>
                            <div class="col-sm-4">{{networkInterface.id}}</div>
                        </div>
                    </div>
                    <div class="panel-body" *ngIf="!networkDeviceType.interfaces || networkDeviceType.interfaces.length == 0">
                        <div class="row">
                            <div class="col-sm-12">None defined</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
