<h1>Network Device Types</h1>

<!--<p>This component demonstrates fetching data from the server.</p>-->

<p *ngIf="!networkDeviceTypes"><em>Loading...</em></p>

<div class="panel-group" *ngIf="networkDeviceTypes">
    <div class="panel panel-default" *ngFor="let networkDeviceType of networkDeviceTypes">
        <div class="panel-heading">
            {{networkDeviceType.name}}
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Manufacturer:</label>
                <input type="text" [(ngModel)]="networkDeviceType.manufacturer">
            </div>
            <div class="form-group">
                <label>Product ID:</label>
                <input type="text" [(ngModel)]="networkDeviceType.productId">
            </div>
        </div>
    </div>
</div>
