<h1>Network Device Types</h1>

<!--<p>This component demonstrates fetching data from the server.</p>-->

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="networkDeviceTypes">
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Domain name</th>
            <th>IP Address</th>
            <th>Device type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let networkDeviceType of networkDeviceTypes">
            <td>{{ networkDeviceType.hostname}}</td>
            <td>{{ networkDeviceType.domainName}}</td>
            <td>{{ networkDeviceType.ipAddress}}</td>
            <td>{{ networkDeviceType.deviceType.name}}</td>
        </tr>
    </tbody>
</table>
