<h1>Network Devices</h1>

<!--<p>This component demonstrates fetching data from the server.</p>-->

<p *ngIf="!networkDevices"><em>Loading...</em></p>

<table class='table' *ngIf="networkDevices">
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Domain name</th>
            <th>IP Address</th>
            <th>Device type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let networkDevice of networkDevices">
            <td>{{ networkDevice.hostname}}</td>
            <td>{{ networkDevice.domainName}}</td>
            <td>{{ networkDevice.ipAddress}}</td>
            <td>{{ networkDevice.deviceType.name}}</td>
        </tr>
    </tbody>
</table>
